<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.patient.mapper.OximeterDataMapper">
    
    <resultMap type="OximeterData" id="OximeterDataResult">
        <result property="oximeterId"    column="oximeter_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="spo2"    column="spo2"    />
        <result property="pr"    column="pr"    />
        <result property="pi"    column="pi"    />
        <result property="sys"    column="sys"    />
        <result property="dia"    column="dia"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectOximeterDataVo">
        select o.oximeter_id, o.user_id, o.user_name, o.spo2, o.pr, o.pi, o.sys, o.dia, o.create_time
        from oximeter_data o
                 left join sys_user u on o.user_id = u.user_id
    </sql>

    <sql id="selectOximeterDataVoNoUser">
        select o.oximeter_id, o.user_id, o.user_name, o.spo2, o.pr, o.pi, o.sys, o.dia, o.create_time
        from oximeter_data o
    </sql>


    <select id="selectOximeterDataList" parameterType="OximeterData" resultMap="OximeterDataResult">
        <include refid="selectOximeterDataVo"/>
        <where>  
            <if test="userId != null "> and u.user_id = #{userId}</if>
            <if test="userName != null and userName != ''"> and o.user_name LIKE CONCAT('%', #{userName}, '%')</if>
            <if test="createTime != null "> and create_time like concat('%', #{createTime}, '%')</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        ORDER BY o.create_time DESC
    </select>

    <select id="selectOximeterDataListNoUser" parameterType="OximeterData" resultMap="OximeterDataResult">
        <include refid="selectOximeterDataVoNoUser"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null and userName != ''"> and o.user_name LIKE CONCAT('%', #{userName}, '%')</if>
            <if test="createTime != null "> and create_time like concat('%', #{createTime}, '%')</if>
        </where>
        ORDER BY o.create_time DESC
    </select>
    
    <select id="selectOximeterDataByOximeterId" parameterType="Long" resultMap="OximeterDataResult">
        <include refid="selectOximeterDataVo"/>
        where oximeter_id = #{oximeterId}
    </select>

    <insert id="insertOximeterData" parameterType="OximeterData">
        insert into oximeter_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="oximeterId != null">oximeter_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="spo2 != null">spo2,</if>
            <if test="pr != null">pr,</if>
            <if test="pi != null">pi,</if>
            <if test="sys != null">sys,</if>
            <if test="dia != null">dia,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="oximeterId != null">#{oximeterId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="spo2 != null">#{spo2},</if>
            <if test="pr != null">#{pr},</if>
            <if test="pi != null">#{pi},</if>
            <if test="sys != null">#{sys},</if>
            <if test="dia != null">#{dia},</if>
         </trim>
    </insert>

    <update id="updateOximeterData" parameterType="OximeterData">
        update oximeter_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="spo2 != null">spo2 = #{spo2},</if>
            <if test="pr != null">pr = #{pr},</if>
            <if test="pi != null">pi = #{pi},</if>
            <if test="sys != null">sys = #{sys},</if>
            <if test="dia != null">dia = #{dia},</if>
        </trim>
        where oximeter_id = #{oximeterId}
    </update>

    <delete id="deleteOximeterDataByOximeterId" parameterType="Long">
        delete from oximeter_data where oximeter_id = #{oximeterId}
    </delete>

    <delete id="deleteOximeterDataByOximeterIds" parameterType="String">
        delete from oximeter_data where oximeter_id in 
        <foreach item="oximeterId" collection="array" open="(" separator="," close=")">
            #{oximeterId}
        </foreach>
    </delete>
</mapper>