<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.patient.mapper.TreatmentRecordMapper">
    
    <resultMap type="TreatmentRecord" id="TreatmentRecordResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="treatmentPlan"    column="treatment_plan"    />
        <result property="treatmentDuration"    column="treatment_duration"    />
        <result property="treatmentStartTime"    column="treatment_start_time"    />
        <result property="treatmentEndTime"    column="treatment_end_time"    />
        <result property="treatmentEnergy"    column="treatment_energy"    />
        <result property="totalEnergyOutput"    column="total_energy_output"    />
        <result property="treatmentDevice"    column="treatment_device"    />
        <result property="treatmentLocation"    column="treatment_location"    />
        <result property="img"    column="img"    />
    </resultMap>

    <sql id="selectTreatmentRecordVo">
        select t.id, t.user_id, t.user_name, t.treatment_plan, t.treatment_duration,
               t.treatment_start_time, t.treatment_end_time, t.treatment_energy,
               t.total_energy_output, t.treatment_device, t.treatment_location, t.img
        from treatment_record t
                 left join sys_user u on t.user_id = u.user_id
    </sql>

    <sql id="selectTreatmentRecordVoNoUser">
        select t.id, t.user_id, t.user_name, t.treatment_plan, t.treatment_duration,
               t.treatment_start_time, t.treatment_end_time, t.treatment_energy,
               t.total_energy_output, t.treatment_device, t.treatment_location, t.img
        from treatment_record t
    </sql>


    <select id="selectTreatmentRecordList" parameterType="TreatmentRecord" resultMap="TreatmentRecordResult">
        <include refid="selectTreatmentRecordVo"/>
        <where>  
            <if test="userId != null "> and u.user_id = #{userId}</if>

             <if test="userName != null and userName != ''"> and t.user_name LIKE CONCAT('%', #{userName}, '%')</if>
             <if test="treatmentPlan != null  and treatmentPlan != ''"> and treatment_plan = #{treatmentPlan}</if>
             <if test="treatmentDevice != null  and treatmentDevice != ''"> and treatment_device = #{treatmentDevice}</if>
             <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        ORDER BY t.treatment_end_time DESC
    </select>

    <select id="selectTreatmentRecordListNoUser" parameterType="TreatmentRecord" resultMap="TreatmentRecordResult">
        <include refid="selectTreatmentRecordVoNoUser"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>

            <if test="userName != null and userName != ''"> and user_name LIKE CONCAT('%', #{userName}, '%')</if>
            <if test="treatmentPlan != null  and treatmentPlan != ''"> and treatment_plan = #{treatmentPlan}</if>
            <if test="treatmentDevice != null  and treatmentDevice != ''"> and treatment_device = #{treatmentDevice}</if>
        </where>
        ORDER BY t.treatment_end_time DESC
    </select>
    
    <select id="selectTreatmentRecordById" parameterType="Long" resultMap="TreatmentRecordResult">
        <include refid="selectTreatmentRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertTreatmentRecord" parameterType="TreatmentRecord" useGeneratedKeys="true" keyProperty="id">
        insert into treatment_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="treatmentPlan != null">treatment_plan,</if>
            <if test="treatmentDuration != null">treatment_duration,</if>
            <if test="treatmentStartTime != null">treatment_start_time,</if>
            <if test="treatmentEndTime != null">treatment_end_time,</if>
            <if test="treatmentEnergy != null">treatment_energy,</if>
            <if test="totalEnergyOutput != null">total_energy_output,</if>
            <if test="treatmentDevice != null">treatment_device,</if>
            <if test="treatmentLocation != null">treatment_location,</if>
            <if test="img != null">img,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="treatmentPlan != null">#{treatmentPlan},</if>
            <if test="treatmentDuration != null">#{treatmentDuration},</if>
            <if test="treatmentStartTime != null">#{treatmentStartTime},</if>
            <if test="treatmentEndTime != null">#{treatmentEndTime},</if>
            <if test="treatmentEnergy != null">#{treatmentEnergy},</if>
            <if test="totalEnergyOutput != null">#{totalEnergyOutput},</if>
            <if test="treatmentDevice != null">#{treatmentDevice},</if>
            <if test="treatmentLocation != null">#{treatmentLocation},</if>
            <if test="img != null">#{img},</if>
         </trim>
    </insert>

    <update id="updateTreatmentRecord" parameterType="TreatmentRecord">
        update treatment_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="treatmentPlan != null">treatment_plan = #{treatmentPlan},</if>
            <if test="treatmentDuration != null">treatment_duration = #{treatmentDuration},</if>
            <if test="treatmentStartTime != null">treatment_start_time = #{treatmentStartTime},</if>
            <if test="treatmentEndTime != null">treatment_end_time = #{treatmentEndTime},</if>
            <if test="treatmentEnergy != null">treatment_energy = #{treatmentEnergy},</if>
            <if test="totalEnergyOutput != null">total_energy_output = #{totalEnergyOutput},</if>
            <if test="treatmentDevice != null">treatment_device = #{treatmentDevice},</if>
            <if test="treatmentLocation != null">treatment_location = #{treatmentLocation},</if>
            <if test="img != null">img = #{img},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTreatmentRecordById" parameterType="Long">
        delete from treatment_record where id = #{id}
    </delete>

    <delete id="deleteTreatmentRecordByIds" parameterType="String">
        delete from treatment_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectTreatmentRecordWithImages" parameterType="Long" resultMap="TreatmentRecordWithImagesResult">
        SELECT
            tr.id, tr.user_id, tr.user_name, tr.treatment_plan, tr.treatment_duration,
            tr.treatment_start_time, tr.treatment_end_time, tr.treatment_energy,
            tr.total_energy_output, tr.treatment_device, tr.treatment_location, ti.create_time,
            ti.id as image_id, ti.treatment_id, ti.name as image_name, ti.path, ti.url, ti.is_treatment_after
        FROM treatment_record tr
                 LEFT JOIN treatment_images ti ON tr.id = ti.treatment_id
        WHERE tr.id = #{id}
    </select>

    <resultMap id="TreatmentRecordWithImagesResult" type="com.ruoyi.patient.domain.TreatmentRecord">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="treatmentPlan" column="treatment_plan"/>
        <result property="treatmentDuration" column="treatment_duration"/>
        <result property="treatmentStartTime" column="treatment_start_time"/>
        <result property="treatmentEndTime" column="treatment_end_time"/>
        <result property="treatmentEnergy" column="treatment_energy"/>
        <result property="totalEnergyOutput" column="total_energy_output"/>
        <result property="treatmentDevice" column="treatment_device"/>
        <result property="treatmentLocation" column="treatment_location"/>
        <result property="createTime" column="create_time"/>

        <collection property="treatmentImages" ofType="com.ruoyi.patient.domain.TreatmentImages"
                    notNullColumn="image_id">
            <id property="id" column="image_id"/>
            <result property="treatmentId" column="treatment_id"/>
            <result property="userId" column="user_id"/>
            <result property="userName" column="user_name"/>
            <result property="name" column="image_name"/>
            <result property="path" column="path"/>
            <result property="url" column="url"/>
            <result property="createTime" column="create_time"/>
            <result property="isTreatmentAfter" column="is_treatment_after"/>
        </collection>
    </resultMap>


</mapper>